@page "/login"
@using EmployeeDirectory.UI.Data.ViewModels
@using EmployeeDirectory.UI.Data
@using EmployeeDirectory.UI.Data.Entities
@using System.Security.Claims
@using Microsoft.AspNetCore.Authentication
@using  Microsoft.AspNetCore.Authentication.Cookies;
@inject NavigationManager NavigationManager
@inject AppDbContext _appDbContext

<div class="row">

    <div class="col-lg-4 offset-lg-4 pt-4 pb-4 border">
        <EditForm Model="@_lModel" OnValidSubmit="Authenticate" FormName="LoginForm">
            <DataAnnotationsValidator/>
            <div>
                <h3>LOGIN</h3>
            </div>
            <div class="mb-3">

                <label>User Name</label>
                <InputText @bind-Value="_lModel.UserName" class="form-control" placeholder="Username" />
                <ValidationMessage For="()=>_lModel.UserName" />
            </div>
            <div class="mb-3">

                <label>Password</label>
                <InputText @bind-Value="_lModel.Password" class="form-control" placeholder="Password" />
                <ValidationMessage For="()=>_lModel.Password" />
            </div>
            <div class="mb-3 text-center">
                <span class="text-danger">@_errorMessage</span>

            </div>
            <div class="mb-3 d-grid gap-2">

                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </EditForm>

    </div>
</div>




@code {

    [CascadingParameter]
    public HttpContext? _httpContext{ get; set; }
     
    [SupplyParameterFromForm]
    public LoginViewModel _lModel { get; set; }=
    new LoginViewModel();

    
    public string? _errorMessage;
    private async Task Authenticate()
    {
        var userAccount = _appDbContext.UserAccounts.Where(x => x.UserName == _lModel.UserName).FirstOrDefault();
        if(userAccount is null || userAccount.Password != _lModel.Password)
        {
            _errorMessage = "Invalid User name or Password";
            return;
        }
        var claims = new List<Claim>
        {
            new Claim(ClaimTypes.Name,_lModel.UserName),
            new Claim(ClaimTypes.Role,userAccount.Role)
        };

        var _identity = new ClaimsIdentity(claims, CookieAuthenticationDefaults.AuthenticationScheme);
        var _principal = new ClaimsPrincipal(_identity);
        await _httpContext.SignInAsync(_principal);
        NavigationManager.NavigateTo("/");
    }
}
