@page "/"

<PageTitle>Home</PageTitle>



<AuthorizeView>
    <Authorized>
        <span> <b>@context.User.Identity.Name</b>.<br/><a href="/logout">Click here </a>to logout</span>
@*             <a href="/AddEmployee"> Add employee</a>

 *@ 

 <AllEmployees/>


</Authorized>
    <NotAuthorized>
        <span>You are not logged in as <a href="/login">.Click here </a>to Login</span>

    </NotAuthorized>
</AuthorizeView>

@code{
   
}